extends ./layout/app.jade

block styles
    style.
        body {
            padding: 0;
            margin: 0;
        }

block content
    form(action="dashboard", method="post")
        input(type="text" name="id" placeholder="tracking id")
        input(type="submit" value="Check")
        
block scripts
    script(src="/socket.io/socket.io.js")
